[user]                                                                          
    name = Yeonjun Lim                                                          
    email = yjroot@gmail.com                                                    
[core]                                                                          
    editor = vim  
